@font-face {
  font-family: "iconfont"; /* Project id 4815861 */
  src: url('iconfont.woff2?t=1737427574302') format('woff2'),
       url('iconfont.woff?t=1737427574302') format('woff'),
       url('iconfont.ttf?t=1737427574302') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-banquan:before {
  content: "\e98b";
}

.icon-sanyecao:after {
  content: "\e68c";
}

